[package]
name = "ubiblk-macros"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-only"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full"] }
